.vs
x64/
MiniWar/x64/*
MiniWar/MiniWar.vcxproj
MiniWar/MiniWar.vcxproj.filters
MiniWar/MiniWar.vcxproj.user

*.gitmodules
/.vscode/settings.json
/.vscode/settings.json
MiniWar/Debug
MiniWar/Release
MiniWar/x64
/UnitTest1/x64/Debug
/MiniWar src.zip
/MiniWar/imgui.ini
/linux/build
.vscode
Debug
Release

CMakeFiles
CMakeCache.txt
cmake_install.cmake
out
MiniWar.dir
MiniWar/CMakeFiles
MiniWar/MiniWar.dir
MiniWar/Debug
MiniWar/cmake_install.cmake
build